<div class="row">
  <form [formGroup]="fGroup" class="col s12">
    <div class="row">
      <div class="input-field col s3">
        <input formControlName="primerNombre" id="primerNombre" type="text" class="validate" />
        <label for="primerNombre">Primer Nombre</label>
      </div>
      <div class="input-field col s3">
        <input formControlName="segundoNombre" id="segundoNombre" type="text" class="validate" />
        <label for="segundoNombre">Segundo Nombre</label>
      </div>
      <div class="input-field col s3">
        <input formControlName="primerApellido" id="primerApellido" type="text" class="validate" />
        <label for="primerApellido">Primer Apellido</label>
      </div>
      <div class="input-field col s3">
        <input formControlName="segundoApellido" id="segundoApellido" type="text" class="validate" />
        <label for="segundoApellido">Segundo Apellido</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input formControlName="correo" id="email" type="email" class="validate" />
        <label for="email">Correo</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="telefono" id="telefono" type="text" class="validate" />
        <label for="telefono">Teléfono Celular</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button
          class="btn waves-effect waves-light"
          type="button"
          (click)="Registrarse()"
        >
          Registrarse
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
