<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form [formGroup]="fGroup" class="login-form">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail_outline</i>
            <input formControlName="usuario" class="validate" id="email" type="email">
            <label for="email" data-error="wrong" data-success="right">Usuario</label>
            <div class="show-errors" *ngIf="obtenerFormGroup['usuario'].errors 
            && (obtenerFormGroup['usuario'].dirty || obtenerFormGroup['usuario'].touched)">
            <strong>Este campo es obligatorio y debe tener el formato de correo electrónico</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button (click)="RecuperarClave()" class="btn waves-effect waves-light col s12">Recuperar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

