<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://materializecss.com/images/office.jpg" />
      </div>
      <a href="#user"
        ><img class="circle" src="https://materializecss.com/images/yuna.jpg"
      /></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"
        ><span class="white-text email">jdandturk@gmail.com</span></a
      >
    </div>
  </li>
  <li *ngFor="let m of listaMenus">
    <a routerLink="{{ m.ruta }}">{{ m.texto }}</a>
  </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"
  ><i class="material-icons">menu</i></a
>
